<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290471788919-67t9ls5blpr7ljs7q5oehokstmm53g5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290471788919-67t9ls5blpr7ljs7q5oehokstmm53g5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDWiBUT5lsBs_GYWfmqocOgbatY7r4cL1I</string>
	<key>GCM_SENDER_ID</key>
	<string>290471788919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmedhenna.WeatherOracle</string>
	<key>PROJECT_ID</key>
	<string>weatheroracle-a3adf</string>
	<key>STORAGE_BUCKET</key>
	<string>weatheroracle-a3adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290471788919:ios:5a5b979e7b9e93bd3d6172</string>
</dict>
</plist>